<%- include('partials/head')  %> 

    <%- include('partials/navbar')  %> 
    <h1>The Home Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit delectus, rerum quis consectetur quod voluptatum vero fugiat tenetur dignissimos sapiente pariatur qui explicabo dolorum quisquam nam excepturi perspiciatis totam consequatur optio atque, culpa quibusdam distinctio officiis! Minus deleniti reiciendis delectus, nobis consectetur doloribus, optio laudantium distinctio dolores nihil aliquid cum.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus itaque nisi mollitia vitae iste illum, soluta a fuga in quidem!</p>
    
    <%- include('partials/footer')  %>